### Data Cleaning Practical Examples
#### Working With Columns Names

+ Get Random Dataset here https://www.generatedata.com/

#### Outline
    + How to check columns
    + How to rename columns
    + How to put underscore in all columns
    + How to replace a character or empty space in column names
    + How to uppercase/lowercase columns
    + How to select all columns except one
    + How to select columns of a particular order or phrase(df.filter)
    + How to select a group of column name

In [1]:
# Load Dataset
import pandas as pd

In [2]:
# Load Dataset
df = pd.read_csv("raw_dataset.csv")

In [3]:
# Firt Rows
df.head()

,First Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca

In [4]:
# Columns
df.columns

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [5]:
## Features of Columns
dir(df.columns)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_take_fillable',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_coerce_to_ndarray',
 '_comparables',
 '_concat',
 '_concat_same_dtype',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_scalar_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_evaluate_with_datetime_like',
 '_evaluate_with_timedelta_like',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_loc_only_exact_matches',
 '_get_names',
 '_get_nearest_indexer',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_unique_index',
 '_has_complex_internals',
 '_id',
 '_infer_as_myclass',
 '_inner_indexer',
 '_invalid_indexer',
 '_is_homogeneous_type',
 '_is_memory_usage_qualified',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_maybe_update_attributes',
 '_mpl_repr',
 '_na_value',
 '_nan_idxs',
 '_ndarray_values',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_shallow_copy_with_infer',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_to_safe_for_reshape',
 '_try_convert_to_int_index',
 '_typ',
 '_unpickle_compat',
 '_update_inplace',
 '_validate_for_numeric_binop',
 '_validate_for_numeric_unaryop',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_sort_keyword',
 '_values',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'contains',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtype_str',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_duplicates',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'get_values',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_lexsorted_for_tuple',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'set_value',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'summary',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_series',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [6]:
### Get The Columns As an Array
df.columns.values

array(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'], dtype=object)

In [7]:
### Get The Columns As  List
df.columns.tolist()

['First Name',
 'Last name',
 'Age',
 'SALARY',
 'STREET Address1',
 'STREET Address2',
 'STREET Address3',
 'email']

In [8]:
### To View Columns Names
df.columns.view()

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [9]:
### To View a Summary of the Column Names
df.columns.summary()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: 'summary' is deprecated and will be removed in a future version.

'Index: 8 entries, First Name to email'

In [10]:
# Convert the Column Names To Series/ DataFrame
df.columns.to_series()

First Name              First Name
Last name                Last name
Age                            Age
SALARY                      SALARY
STREET Address1    STREET Address1
STREET Address2    STREET Address2
STREET Address3    STREET Address3
email                        email
dtype: object

In [11]:
# Convert the Column Names To DataFrame
df.columns.to_frame()

                               0
First Name            First Name
Last name              Last name
Age                          Age
SALARY                    SALARY
STREET Address1  STREET Address1
STREET Address2  STREET Address2
STREET Address3  STREET Address3
email                      email

In [12]:
# Check to see if column names contains a phrase
df.columns.contains('First Name')

True

In [13]:
# Check to see if column names are duplicated
df.columns.duplicated()

array([False, False, False, False, False, False, False, False])

In [14]:
### Attributes and Methods of Str
dir(df.columns.str)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_freeze',
 '_get_series_list',
 '_is_categorical',
 '_make_accessor',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [15]:
### Making Column Name Lower Case
df.columns.str.lower()

Index(['first name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [16]:
### Making Column Name Upper Case
df.columns.str.upper()

Index(['FIRST NAME', 'LAST NAME', 'AGE', 'SALARY', 'STREET ADDRESS1',
       'STREET ADDRESS2', 'STREET ADDRESS3', 'EMAIL'],
      dtype='object')

In [17]:
### Making Column Name Title Case
df.columns.str.title()

Index(['First Name', 'Last Name', 'Age', 'Salary', 'Street Address1',
       'Street Address2', 'Street Address3', 'Email'],
      dtype='object')

In [18]:
### Replacing Empty spaces with underscore
df.columns.str.replace(' ','_')

Index(['First_Name', 'Last_name', 'Age', 'SALARY', 'STREET_Address1',
       'STREET_Address2', 'STREET_Address3', 'email'],
      dtype='object')

In [19]:
### Renaming Column Name
df.rename(columns={'Age':'Date of Birth'})

,First Name,Last name,Date of Birth,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
5,Lucian,Wynn,06/11/2019,$0.54,"P.O. Box 650, 6721 Ut, Av.","P.O. Box 963, 2210 Est St.","1926 Posuere, Rd.",molestie@nuncsitamet.com
6,Kasper,Villarreal,02/05/2019,$47.69,6449 Ultrices Av.,979-7052 Parturient Rd.,"P.O. Box 395, 3413 Tellus St.",nec.orci@mi.com
7,Emerson,Pratt,03/01/2020,$13.08,405-6163 Mollis St.,"P.O. Box 963, 1079 Lorem, St.",Ap #460-9797 Velit Road,semper@Proinmi.net
8,Dustin,Fleming,08/30/2019,$61.60,9205 Maecenas Ave,"P.O. Box 919, 9529 Donec Avenue","P.O. Box 926, 8939 Fusce St.",vulputate.velit.eu@lacusCras.co.uk
9,Addison,Juarez,07/02/2019,$17.32,322-2727 Lacinia Rd.,"P.O. Box 952, 7768 Sed Road",Ap #644-6787 Pellentesque Rd.,mollis.non@Quisquetinciduntpede.org
10,Xanthus,Colon,05/29/2019,$39.79,653-2325 Aliquam Rd.,"P.O. Box 239, 1241 Diam Rd.",9441 Duis Ave,Sed.et@tristique.co.uk
11,Raphael,Leonard,12/01/2018,$81.86,Ap #915-7047 Aliquam Ave,Ap #438-382 Ac Street,7773 Odio. Ave,mollis.dui.in@scelerisque.co.uk
12,Oliver,Hartman,03/15/2019,$7.36,Ap #840-7597 Risus. Ave,Ap #424-8954 Erat. Avenue,"P.O. Box 859, 934 Eu Road",tellus.Suspendisse@gravida.ca
13,Demetrius,Hurst,07/08/2020,$42.07,"P.O. Box 595, 3299 Metus St.",4391 Parturient St.,"P.O. Box 401, 8266 Dictum Street",Integer.mollis.Integer@Phasellusvitaemauris.com
14,Kermit,English,01/23/2019,$92.75,568-6252 Mus. Rd.,"P.O. Box 296, 1566 Cursus. Rd.",3912 At Ave,imperdiet.dictum.magna@lobortisClass.org
15,Zahir,Travis,11/03/2019,$27.64,500-8214 Gravida. Street,"P.O. Box 873, 7725 Pede, Rd.",Ap #507-2527 Mollis. St.,Quisque@semegestas.net
16,Jelani,Carroll,11/21/2018,$51.32,817-746 Mattis. St.,"P.O. Box 762, 9695 Nisi. Rd.",2847 Curabitur Road,leo.elementum@nislMaecenasmalesuada.ca
17,Zachery,Skinner,08/24/2018,$69.21,750-2734 Eu St.,1613 Interdum. Street,5101 Nulla. Av.,nulla.ante.iaculis@pede.co.uk
18,Jermaine,Osborne,08/07/2019,$14.09,Ap #695-2496 Enim Avenue,Ap #319-5081 Cras Ave,914-3943 Pede Road,Sed.eu.nibh@sapienmolestie.net
19,Curran,Gay,09/20/2018,$17.96,Ap #334-1963 Gravida Street,Ap #859-6577 Accumsan Rd.,934-3060 Enim. St.,id.erat.Etiam@elitpede.ca
20,Grady,Schroeder,12/26/2018,$79.33,3832 Morbi Rd.,388-4974 Eleifend St.,5403 Donec Rd.,odio@eleifendCrassed.org
21,Moses,Barnett,11/26/2018,$30.79,"P.O. Box 337, 2447 Vestibulum, Road",Ap #183-9990 Arcu. Rd.,Ap #328-773 Magna. St.,eleifend.nunc@milaciniamattis.org
22,Todd,Richmond,06/26/2020,$64.85,9020 Ac Rd.,650-7083 Nec Rd.,"P.O. Box 658, 7970 Ac St.",Duis.a.mi@nonummyFusce.net
23,Dante,Summers,08/01/2019,$90.14,"651-6550 Felis, Av.","Ap #613-7918 Dui, Rd.","9110 Vestibulum, St.",dui.Fusce@Etiamvestibulummassa.co.uk
24,Erasmus,Nieves,07/01/2019,$0.22,626 Est. Avenue,892-8304 Pellentesque Rd.,8333 Pharetra. Av.,Fusce.feugiat@ipsumdolor.ca
25,Reed,Duke,11/25/2019,$30.94,1903 Egestas St.,6642 Fusce Ave,Ap #788-4216 Ipsum Road,Morbi.neque@ultrices.com
26,Abbot,Love,06/11/2020,$29.24,Ap #660-2020 Tincidunt Av.,"P.O. Box 486, 8215 Cras St.",215-5661 Integer Avenue,sed.tortor.Integer@quisarcuvel.ca
27,Gary,Lowe,10/12/2018,$59.96,1524 Malesuada Av.,9038 Consectetuer Rd.,Ap #931-7278 Ridiculus Av.,sit@Pellentesque.edu
28,Eaton,Webster,11/22/2019,$0.41,8240 Vitae Rd.,Ap #804-4838 Vitae St.,334 Lacus. Rd.,a@Integeraliquam.ca
29,Allen,Odom,08/03/2019,$20.60,942 Duis Road,Ap #266-6330 Conubia Ave,1887 Eget Rd.,Nunc@felis.com
...,...,...,...,...,...,...,...,...
70,Ira,Francis,11/06/2018,$43.03,428-8034 Orci St.,8708 Donec Rd.,415 Neque Rd.,blandit.Nam@Sed.net
71,Clinton,Emerson,06/18/2019,$45.08,Ap #857-9020 Ipsum. Street,Ap #469-4153 Luctus St.,"P.O. Box 748, 8147 Faucibus. St.",euismod@seddui.org
72,Thaddeus,Workman,05/10/2019,$6.86,"P.O. Box 925, 1576 Et St.","P.O. Box 682, 3390 Leo. Ave",Ap #962-5025 Ipsum Av.,elit.erat.vitae@maurisipsumporta.com
73,Marshall,Harris,02/04/2020,$6.35,"P.O. Box 593, 7578 Nunc St.",9197 Rutrum Avenue,155-9329 Bibendum St.,mollis@DonecegestasAliquam.com
74,Jin,Gould,10/08/2019,$48.66,587-6660 Vel Road,"P.O. Box 213, 7547 Pharetra, St.","P.O. Box 886, 3113 Arcu. Road",a.malesuada.id@Sed.ca
75,Ulric,Alvarado,09/25/2019,$72.00,217-9576 Libero. Street,678-7906 Iaculis Rd.,376-8891 Neque Avenue,turpis.egestas@ultricesiaculisodio.com
76,Brennan,Berry,08/03/2019,$60.00,Ap #892-1345 Tellus St.,8733 Ligula St.,Ap #248-2366 Nunc Rd.,Nulla@enimdiamvel.com
77,Driscoll,Burch,04/10/2020,$42.83,Ap #345-6769 Lacus Avenue,574-6143 Et St.,105-5673 Vehicula Ave,sit@atvelit.ca
78,Dylan,Figueroa,02/10/2019,$92.13,164-9154 Vitae Street,Ap #215-459 Proin Av.,Ap #914-6812 Tempor Rd.,nascetur.ridiculus.mus@vulputatenisisem.edu
79,Knox,Luna,10/29/2019,$5.63,2523 In Street,Ap #506-7675 Imperdiet Rd.,Ap #321-3874 Vel Street,magna.Phasellus.dolor@nectempus.org
80,Dean,Dennis,10/07/2019,$58.39,Ap #961-521 Ipsum Av.,"682-2710 Ac, Street",680-3228 Tristique Av.,eleifend.Cras@loremeumetus.co.uk
81,Clark,Andrews,06/03/2019,$94.58,5076 Gravida. Rd.,423-3585 Erat Street,6084 Gravida St.,nec@enim.co.uk
82,Jasper,Wilder,08/23/2019,$65.66,"9586 Lorem, Avenue","P.O. Box 237, 128 Integer Rd.",6702 Libero Av.,non.luctus@malesuadaiderat.ca
83,Abbot,Riley,03/04/2020,$30.38,284-2591 Non Avenue,5189 Nulla Street,4878 Tempus Road,sollicitudin.orci@liberodui.net
84,Keith,Meyer,08/28/2018,$44.97,"P.O. Box 835, 3445 At, Avenue",756-3192 Nec Road,312-8233 Vehicula Avenue,aliquet.magna.a@Suspendissecommodo.org
85,Kasimir,Christensen,09/09/2019,$30.62,"P.O. Box 962, 2647 Purus. Street","P.O. Box 753, 1217 Ut, St.",Ap #661-6774 Commodo Street,ornare@risusodioauctor.edu
86,Kane,Woods,11/20/2018,$33.01,4968 A Ave,"451-2416 Pede, St.",916-6138 Ultricies Av.,morbi.tristique.senectus@euenimEtiam.co.uk
87,Honorato,Ruiz,09/27/2019,$29.15,"P.O. Box 838, 2148 Ut Street","P.O. Box 645, 3116 Neque. Road",742-2419 Sem St.,Nunc@natoquepenatibuset.net
88,Boris,Ramirez,04/11/2019,$11.19,"P.O. Box 468, 5418 Velit Av.",Ap #986-7943 Diam Rd.,Ap #115-7485 Vivamus Rd.,massa.non.ante@dui.edu
89,Bruce,Church,01/03/2020,$92.55,280-3706 Adipiscing St.,"P.O. Box 396, 8141 Amet, Ave",Ap #544-3906 Sed St.,Nullam@Ut.ca
90,Darius,Warren,07/18/2019,$59.48,255-1540 Dui. Rd.,"P.O. Box 999, 1286 Dolor. Ave",5712 Pretium Ave,Cum.sociis.natoque@liberoat.com
91,August,Cleveland,10/24/2019,$98.53,239-187 Venenatis Avenue,710-6545 Diam. St.,"P.O. Box 656, 3450 Dui, Street",faucibus.leo.in@arcu.net
92,Stuart,Martin,10/25/2019,$25.95,Ap #818-2389 Sed Rd.,"P.O. Box 922, 7474 Purus St.",Ap #907-3803 Sed Road,sem.semper.erat@milaciniamattis.net
93,Hashim,Andrews,12/31/2018,$56.50,"Ap #961-4075 Vitae, Road",8722 Ornare Rd.,9402 Nec Rd.,libero.nec@SuspendisseduiFusce.org
94,Adam,Lowery,03/10/2019,$56.22,Ap #103-7642 Vivamus St.,"P.O. Box 146, 7542 Lacus. Rd.",788-6809 Habitant Ave,aliquet@Proinvelarcu.edu
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [20]:
### Renaming Column Name /Inplace
df.rename(columns={'Age':'Date of Birth'},inplace=True)

In [21]:
df.columns

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [22]:
len(df.columns.values)

8

In [49]:
# Renaming Column Names using select values
df.columns.values[7] = 'Email Address'

In [23]:
df.columns

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [24]:
### Selecting All Columns Except One
df.columns[df.columns != 'SALARY']

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [25]:
### Selecting All Columns Except One
df.loc[:, df.columns != 'SALARY'].columns

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [26]:
# Select Column Names Except One Using Difference
df.columns.difference(['SALARY'])

Index(['Date of Birth', 'First Name', 'Last name', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [27]:
# Select Column Names Except One Using Negation of isin
df.loc[:,~df.columns.isin(['SALARY'])].columns

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [28]:
### Select Column Names that Begins with a Word or Character
df.filter(like='STREET').columns

Index(['STREET Address1', 'STREET Address2', 'STREET Address3'], dtype='object')

In [29]:
### Select Column Names that Begins with a Word or Character
df.loc[:,df.columns.str.startswith('STREET')].columns

Index(['STREET Address1', 'STREET Address2', 'STREET Address3'], dtype='object')

In [30]:
### Select Column Names that ENDS with a Word or Character
df.loc[:,df.columns.str.endswith('ame')].columns

Index(['First Name', 'Last name'], dtype='object')

In [31]:
### Select Column Names that ENDS with a Word or Character Using Filter and Regex name$
df.filter(regex='ame$',axis=1).columns

Index(['First Name', 'Last name'], dtype='object')

In [32]:
### Select A Group of Column Names
df.columns.values[0:4]

array(['First Name', 'Last name', 'Date of Birth', 'SALARY'], dtype=object)

In [34]:
### Select A Group of Column Names
df.columns[0:4]

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY'], dtype='object')

In [35]:
### Thanks For Watching
## Jesus Saves@JCharisTech 
## Jesse E. Agbe(JCharis)
## J-Secur1ty