In [3]:
# SEries is single column of rows 
# series is collecetion of words , alphabets 

# A pandas Series is a one-dimensional array.
# https://www.shiksha.com/online-courses/articles/series-vs-dataframe-in-pandas/

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/home/preeti/Desktop/pandas/data/survey_results_public.csv')

In [6]:
schema_df = pd.read_csv('/home/preeti/Desktop/pandas/data/survey_results_schema.csv')

In [7]:
# schema_df

In [8]:
pd.set_option('display.max_columns',89)
pd.set_option('display.max_rows',85)

In [9]:
# df.head()

In [10]:
# schema_df

In [11]:
person = {
    "first_name": "Preeti",
    "last_name": "Singh",
    "email": "preetisingh12496@gmail.com"
}

In [12]:
people = {
    "first_name": ["Preeti"],
    "last_name": ["singh"],
    "email": ["preeti@gmail.com"] 
}

In [13]:
people ={
    "first_name": ["Preeti", "vamika","Preksha" ],
    "second_name":["Rajpoot","mittal","sharma"],
    "email": ["preeti@gmail.com","vamika@gmail.com","preksha@gmail.com"]
}

In [14]:
import pandas as pd

In [15]:
df1 = pd.DataFrame(people)

In [16]:
df1

  first_name second_name              email
0     Preeti     Rajpoot   preeti@gmail.com
1     vamika      mittal   vamika@gmail.com
2    Preksha      sharma  preksha@gmail.com

In [17]:
# people['email']
# people['email'][1]
# people['email'][:1]
# df1['email']       # prefer this cause email maybe attribute  or be value
df1.email

0     preeti@gmail.com
1     vamika@gmail.com
2    preksha@gmail.com
Name: email, dtype: object

In [18]:
type(df1['email'])

pandas.core.series.Series

In [19]:
df1.count()
# df1.columns.count()

first_name     3
second_name    3
email          3
dtype: int64

In [20]:
df1[['first_name','email']]   # to show the columns first_name and email

  first_name              email
0     Preeti   preeti@gmail.com
1     vamika   vamika@gmail.com
2    Preksha  preksha@gmail.com

In [21]:
# to access rows
# when we accesing the rows , index would be column names e.g first_name, second_name....
df1.iloc[0]    # shows the first row 
df1.iloc[0,1]  # print the first value of second column
df1.iloc[[0,1]] # shows first two rows of the the dataframe , 
df1.iloc[[0,1],2]  # shows the email of first two rows

0    preeti@gmail.com
1    vamika@gmail.com
Name: email, dtype: object

In [23]:
df1['email'].value_counts()   # to count the number of  same values for column 'email'    *imp

preeti@gmail.com     1
vamika@gmail.com     1
preksha@gmail.com    1
Name: email, dtype: int64

In [33]:
df1.loc[0]
df1.loc[[0], 'email']
df1.loc[[0, 1, 2], 'email']   # last value also incude the is for row 2
df1.loc[0:2, 'email']            # shows the rows from 0 to 2 for column 'email'  , 
df1.loc[0:2, 'first_name' : 'email']  # slicing also wor for column name

  first_name second_name              email
0     Preeti     Rajpoot   preeti@gmail.com
1     vamika      mittal   vamika@gmail.com
2    Preksha      sharma  preksha@gmail.com