In [37]:
# Filtering Data. Filtering means limiting rows and/or columns
# filter mask
# filter data frame
# filter examples
# filter multiple values
# filter strings

In [ ]:
people= {
    "first": ["Joy","toy","jone"],
    "last":   ["doe","freeman","Jane"],
    "email": ["joy@gmail.com","toy@gmail.com","jone@gmail.com"]
}

In [9]:
import pandas as pd

In [10]:
df =pd.DataFrame(people)
df

  first     last           email
0   Joy      doe   joy@gmail.com
1   toy  freeman   toy@gmail.com
2  jone     Jane  jone@gmail.com

In [13]:
# df['last'] = 'doe'   # set last name 'doe' for all 
df['last']  =='doe'  # shows true or false

0     True
1    False
2    False
Name: last, dtype: bool

In [14]:
df

  first     last           email
0   Joy      doe   joy@gmail.com
1   toy  freeman   toy@gmail.com
2  jone     Jane  jone@gmail.com

In [15]:
filt = df['last']=='doe'

In [18]:
filt = df['last']=='doe'
filt

0     True
1    False
2    False
Name: last, dtype: bool

In [19]:
df[filt]   # it will print the dataframe ehich has last name 'doe'

  first last          email
0   Joy  doe  joy@gmail.com

In [20]:
df.loc[filt]   # loc used to look up rows and columns into labels

  first last          email
0   Joy  doe  joy@gmail.com

In [22]:
df.loc[filt, 'email']

0    joy@gmail.com
Name: email, dtype: object

In [33]:
filt_operators = (df['last'] == 'doe') & (df['email']== 'joy@gmail.com')
filt_operators = (df['last'] == 'doe') | (df['email']== 'joy@gmail.com')

In [34]:
filt_operators
df[filt_operators]

  first last          email
0   Joy  doe  joy@gmail.com

In [35]:
df.loc[filt_operators,'email']

0    joy@gmail.com
Name: email, dtype: object

In [36]:
df.loc[~filt, 'email']    #  opposite of filter

1     toy@gmail.com
2    jone@gmail.com
Name: email, dtype: object