In [2]:
import pandas as pd
import numpy as np

In [3]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [4]:
df = pd.DataFrame(people)
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [5]:
df.dropna() # drop rows which have NA 
df.dropna(axis = 'index',how ='any')    #  drop rows which have NA

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [6]:
df.dropna(axis ='index', how ='all') # it will those rows which has values for any column
df.dropna(axis = 'columns', how = 'all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [7]:
df.dropna(axis = 'columns', how = 'any') # it will print empty dataframe

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [8]:
df.replace('NA', np.nan, inplace =True)
df.replace('Missing', np.nan, inplace =True) # to make change permanant use inplace = True

In [9]:
df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [10]:
df.dropna(axis ='index', how = 'all', subset=['last' , 'email']) # it will drop only those row which have both last, email have null

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [11]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [12]:
df.fillna('MISSING')

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com       33
1     Jane      Doe        JaneDoe@email.com       55
2     John      Doe        JohnDoe@email.com       63
3    Chris  Schafer                  MISSING       36
4  MISSING  MISSING                  MISSING  MISSING
5  MISSING  MISSING      Anonymous@email.com  MISSING
6  MISSING  MISSING                  MISSING  MISSING

In [18]:
df.fillna('o')

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63
3  Chris  Schafer                        o  36
4      o        o                        o   o
5      o        o      Anonymous@email.com   o
6      o        o                        o   o

In [19]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [20]:
df['age'].mean() # it will throw error  TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [22]:
type(np.nan)

float

In [23]:
# TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'
df['age']= df['age'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [24]:
df['age']= df['age'].astype(float)

In [25]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [26]:
df['age'].mean()

46.75