In [51]:
import pandas as pd

In [52]:
path = ('/home/preeti/Desktop/pandas/data/survey_results_public.csv')
schema_path = ('/home/preeti/Desktop/pandas/data/survey_results_schema.csv')

In [53]:
df = pd.read_csv(path)
schema_df = pd.read_csv(schema_path)

In [54]:
# pd.set_option('display.max_columns',85)
# pd.set_option('display.max_rows', 85)

In [55]:
df.head()
list(df.columns)  #to print column name

['ResponseId',
 'MainBranch',
 'Employment',
 'RemoteWork',
 'CodingActivities',
 'EdLevel',
 'LearnCode',
 'LearnCodeOnline',
 'LearnCodeCoursesCert',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'PurchaseInfluence',
 'BuyNewTool',
 'Country',
 'Currency',
 'CompTotal',
 'CompFreq',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith',
 'MiscTechWantToWorkWith',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'NEWCollabToolsHaveWorkedWith',
 'NEWCollabToolsWantToWorkWith',
 'OpSysProfessional use',
 'OpSysPersonal use',
 'VersionControlSystem',
 'VCInteraction',
 'VCHostingPersonal use',
 'VCHostingProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncWantToWorkWith',
 'OfficeStackSyncHaveWorkedWith',
 'OfficeStackSyncWantToWorkWith',
 'Blockchain',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Accessibility',
 'MentalHealth',
 'TBranch',
 'ICorPM',
 'WorkExp',
 'Knowledge_1',
 'Knowledge_2',
 'Knowledge_3',
 'Knowledge_4',
 'Knowledge_5',
 'Knowledge_6',
 'Knowledge_7',
 'Frequency_1',
 'Frequency_2',
 'Frequency_3',
 'TimeSearching',
 'TimeAnswering',
 'Onboarding',
 'ProfessionalTech',
 'TrueFalse_1',
 'TrueFalse_2',
 'TrueFalse_3',
 'SurveyLength',
 'SurveyEase',
 'ConvertedCompYearly']

In [56]:
# iterating the columns
for col in df.columns:   
    print(col)

ResponseId
MainBranch
Employment
RemoteWork
CodingActivities
EdLevel
LearnCode
LearnCodeOnline
LearnCodeCoursesCert
YearsCode
YearsCodePro
DevType
OrgSize
PurchaseInfluence
BuyNewTool
Country
Currency
CompTotal
CompFreq
LanguageHaveWorkedWith
LanguageWantToWorkWith
DatabaseHaveWorkedWith
DatabaseWantToWorkWith
PlatformHaveWorkedWith
PlatformWantToWorkWith
WebframeHaveWorkedWith
WebframeWantToWorkWith
MiscTechHaveWorkedWith
MiscTechWantToWorkWith
ToolsTechHaveWorkedWith
ToolsTechWantToWorkWith
NEWCollabToolsHaveWorkedWith
NEWCollabToolsWantToWorkWith
OpSysProfessional use
OpSysPersonal use
VersionControlSystem
VCInteraction
VCHostingPersonal use
VCHostingProfessional use
OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncWantToWorkWith
OfficeStackSyncHaveWorkedWith
OfficeStackSyncWantToWorkWith
Blockchain
NEWSOSites
SOVisitFreq
SOAccount
SOPartFreq
SOComm
Age
Gender
Trans
Sexuality
Ethnicity
Accessibility
MentalHealth
TBranch
ICorPM
WorkExp
Knowledge_1
Knowledge_2
Knowledge_3
Knowledge_4
Knowledge_5
Knowledge_6
Knowledge_7
Frequency_1
Frequency_2
Frequency_3
TimeSearching
TimeAnswering
Onboarding
ProfessionalTech
TrueFalse_1
TrueFalse_2
TrueFalse_3
SurveyLength
SurveyEase
ConvertedCompYearly

In [57]:
#filter example
high_salary =(df['ConvertedCompYearly'] > 70000)

In [58]:
df.loc[high_salary]
df.loc[high_salary, ['Employment','RemoteWork','MainBranch']]

,Employment,RemoteWork,MainBranch
3,"Employed, full-time",Fully remote,I am a developer by profession
11,"Employed, full-time;Independent contractor, fr...",Fully remote,"I am not primarily a developer, but I write co..."
14,"Employed, full-time;Independent contractor, fr...",Fully remote,I am a developer by profession
17,"Employed, full-time",Fully remote,I am a developer by profession
22,"Employed, full-time",Fully remote,I am a developer by profession
...,...,...,...
73107,"Employed, full-time","Hybrid (some remote, some in-person)",I am a developer by profession
73111,"Employed, full-time","Hybrid (some remote, some in-person)",I am a developer by profession
73113,"Employed, full-time",Fully remote,I am a developer by profession
73116,"Employed, full-time","Hybrid (some remote, some in-person)",I am a developer by profession
73121,"Employed, full-time","Hybrid (some remote, some in-person)",I am a developer by profession

In [59]:
# filter multiple values
countries = ['India','United States','United kingdom','Germany','Cananda']
filt = df['Country'].isin(countries)

In [60]:
df.loc[filt,'Country']

5        Germany
6          India
7          India
25       Germany
48       Germany
          ...
73247    Germany
73255      India
73257      India
73258      India
73262    Germany
Name: Country, Length: 12034, dtype: object

In [85]:
#filter strings
filt_str = df['Employment'].str.contains('Employed', na=False)
# filt_str
# df.loc[filt_str, 'Employment']

In [88]:
df.loc[filt_str, 'Employment']

1                           Employed, full-time
2                           Employed, full-time
3                           Employed, full-time
4                           Employed, full-time
8                           Employed, full-time
                          ...
73262    Student, full-time;Employed, part-time
73263                       Employed, full-time
73264                       Employed, full-time
73265                       Employed, full-time
73266                       Employed, full-time
Name: Employment, Length: 52834, dtype: object